main {
  padding: 3rem;
}
.wrap {
  position: relative;
}

.item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(5rem, 12rem);
  grid-gap: 3rem;
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 1.5rem;
  }
  position: relative;
  &__tag {
    cursor: pointer;
    text-align: center;
    height: 3rem;
    line-height: 1.5rem;
    display: inline-block;
    border: 0.2rem solid #333;
    border-radius: 3px;
    padding: 0.5rem;
    &.on-search {
      font-weight: 600;
      animation: ani-twincle infinite 0.7s linear;
    }
    &:hover {
      animation: ani-shake infinite 0.15s linear 0.5s;
    }
  }
  &__children {
    display: grid;
  }
  &-file::after {
    content: "";
    width: 15px;
    height: 15px;
    background-size: cover;
    position: absolute;
    top: 8px;
    left: 5px;
    background-image: url(./images/file.png);
  }
}

.line {
  width: 6rem;
  border-bottom: 1px solid #333;
  position: absolute;
  left: 12rem;
  top: 1.5rem;
}

@keyframes ani-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes ani-twincle {
  0% {
    border-color: #333;
  }
  50% {
    border-color: #aaa;
  }
  100% {
    border-color: #333;
  }
}